<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Genus</title>
    <link rel="stylesheet" href="../static/index.css">
    <link href="https://fonts.cdnfonts.com/css/anurati" rel="stylesheet">
</head>
<body>
    <h1>G  E  N  U  S</h1>
    <p class="introduction" id="introduction"></p>
    <input type="text" id="sequence" placeholder="Enter the DNA sequence" value="">
    <button name="Analyze" class="Analyze_Button" id="Analyze">Analyze</button>
    <div class="analysis_container">
        <h3>Amino Acids Found: </h3>
        <p class="analysis" id="Analysis"></p>
    </div>
    <script src="../static/index.js"></script>
</body>
</html>